* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    all: unset;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.section__wrapper {
    background-color: #fff;
    // border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.error-message {
    position: absolute;
    top: 10%;
    padding: 20px;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    text-align: center;
    font-size: 16px;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #df382c;
    }
}